name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Run make4ht
      uses: michal-h21/make4ht-action@master
      with:
        images: ghcr.io/michal-h21/make4ht-action:latest
      # uses: docker://michalh21/make4ht-docker:latest
      env:
        command: "make4ht -ulm final -a debug -d docs linemarkup-doc.tex; cp docs/linemarkup-doc.html docs/index.html"
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
